
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<span th:if="${session.login_user != null}" th:text="${session.login_user.user_name} + 님 환영합니다">환영합니다</span>
<h2>Login</h2>
<hr>

<form action="/main/login" method="post">
    아이디 : <input type="text" name="user_id"><br>
    비밀번호 : <input type="password" name="user_pw"><br>
    <input type="submit" value="로그인">
    <input type="reset" value="취소">
</form>
</body>
</html>