
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<h2>게수정</h2>
<hr>
<form action="/game/save" method="post">
    게임코 : <span th:text="${c.game_code}"></span>
    <input type="hidden" name="game_code" th:value="${c.game_code}"><br>
    게임이름 : <input type="text" name="game_name" th:value="${c.game_name}"><br>
    게임종류 : <input type="text" name="game_cate" th:value="${c.game_cate}"><br>
    <input type="submit" value="수정">
    <input type="reset" value="다시입력">
</form>
</body>
</html>